.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.heart-icon {
  color: #f00 !important;
  pointer-events: all;
}
.card-image {
  width: 200px;
  height: 200px;
}
.user-card {
  margin: 15px;
}
.ant-card-cover {
  display: flex;
  justify-content: center;
  background: #f5f5f5;
}
.card-item {
  min-height: 25px;
  color: #000000a6;
}
.card-item .anticon {
  font-size: 1.3em;
}
.card-item-text {
  margin: -5px 0px 5px 10px;
}
.meta {
  margin-bottom: 10px;
}
.ant-card-actions .ant-btn {
  border: none;
  outline: none;
  background: none;
}
.ant-card-actions button[ant-click-animating-without-extra-node]:after {
  border: 0 none;
  opacity: 0;
  animation: none 0 ease 0 1 normal;
}
.anticon-heart,
.anticon-edit,
.anticon-delete {
  font-size: 1.5em;
}
.ant-card-actions {
  background: #fafafa;
}
